<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<!--Формат для значений плагинов: "PluginName.dll"-->
<!--Режим автоматической загрузки следует указать первым в списке, формат: "<add key="auto" value="auto"/>"-->
    <appSettings>
        <add key="auto" value="auto"/>
        <add key="DatePlugin" value="DatePlugin.dll"/>
        <add key="GrayscalePlugin" value="GrayscalePlugin.dll"/>
        <add key="PuzzlePlugin" value="PuzzlePlugin.dll"/>
    </appSettings>
</configuration>